# misc
*.class
*.log
*.pyc
*.swp
.DS_Store

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
devtools_options.yaml
build/

**/flutter/ephemeral/
**/Flutter/ephemeral/

# Python (dmgbuild)
.venv/

# FVM Version Cache
.fvm/


bin/perf/results/*

roms/
!roms/test/nestest/nestest.nes
!roms/test/cpu_timing_test6/cpu_timing_test.nes
!roms/test/sprite_hit_tests_2005.10.05/*.nes
!roms/test/scanline/scanline.nes
!roms/test/spritecans-2011/spritecans.nes
!roms/test/full_palette/full_palette.nes
!roms/test/mmc5test_v2/mmc5test.nes
!roms/test/instr_test-v5/all_instrs.nes
!roms/test/instr_timing/instr_timing.nes
!roms/test/instr_misc/rom_singles/01-abs_x_wrap.nes
!roms/test/instr_misc/rom_singles/02-branch_wrap.nes
!roms/test/instr_misc/rom_singles/03-dummy_reads.nes
!roms/test/instr_misc/rom_singles/04-dummy_reads_apu.nes
!roms/test/cpu_interrupts_v2/rom_singles/1-cli_latency.nes
!roms/test/cpu_interrupts_v2/rom_singles/2-nmi_and_brk.nes
!roms/test/cpu_interrupts_v2/rom_singles/3-nmi_and_irq.nes
!roms/test/cpu_interrupts_v2/rom_singles/4-irq_and_dma.nes
!roms/test/cpu_interrupts_v2/rom_singles/5-branch_delays_irq.nes
!roms/test/mmc3_test/1-clocking.nes
!roms/test/mmc3_test/2-details.nes
!roms/test/mmc3_test/3-A12_clocking.nes
!roms/test/mmc3_test/4-scanline_timing.nes
!roms/test/mmc3_test/5-MMC3.nes
!roms/test/mmc3_test_2/rom_singles/1-clocking.nes
!roms/test/mmc3_test_2/rom_singles/2-details.nes
!roms/test/mmc3_test_2/rom_singles/3-A12_clocking.nes
!roms/test/mmc3_test_2/rom_singles/4-scanline_timing.nes
!roms/test/mmc3_test_2/rom_singles/5-MMC3.nes
!roms/test/cpu_dummy_writes/cpu_dummy_writes_oam.nes
!roms/test/cpu_dummy_writes/cpu_dummy_writes_ppumem.nes
!roms/test/cpu_reset/ram_after_reset.nes
!roms/test/cpu_reset/registers.nes
!roms/test/cpu_exec_space/test_cpu_exec_space_apu.nes
!roms/test/cpu_exec_space/test_cpu_exec_space_ppuio.nes
!roms/test/ppu_open_bus/ppu_open_bus.nes
!roms/test/ppu_read_buffer/test_ppu_read_buffer.nes
!roms/test/sprdma_and_dmc_dma/sprdma_and_dmc_dma.nes
!roms/test/sprdma_and_dmc_dma/sprdma_and_dmc_dma_512.nes
!roms/test/ppu_vbl_nmi/rom_singles/01-vbl_basics.nes
!roms/test/ppu_vbl_nmi/rom_singles/04-nmi_control.nes
!roms/test/ppu_vbl_nmi/rom_singles/09-even_odd_frames.nes
!roms/test/ppu_vbl_nmi/rom_singles/10-even_odd_timing.nes
!roms/test/ppu_vbl_nmi/rom_singles/02-vbl_set_time.nes
!roms/test/ppu_vbl_nmi/rom_singles/05-nmi_timing.nes
!roms/test/ppu_vbl_nmi/rom_singles/06-suppression.nes
!roms/test/ppu_vbl_nmi/rom_singles/07-nmi_on_timing.nes
!roms/test/ppu_vbl_nmi/rom_singles/08-nmi_off_timing.nes
!roms/test/unrom512_flash/unrom512_flash.nes
!roms/test/apu_test/rom_singles/1-len_ctr.nes
!roms/test/apu_test/rom_singles/2-len_table.nes
!roms/test/apu_test/rom_singles/3-irq_flag.nes
!roms/test/apu_test/rom_singles/4-jitter.nes
!roms/test/apu_test/rom_singles/5-len_timing.nes
!roms/test/apu_test/rom_singles/6-irq_flag_timing.nes
!roms/test/apu_test/rom_singles/7-dmc_basics.nes
!roms/test/apu_test/rom_singles/8-dmc_rates.nes
!roms/test/apu_reset/4015_cleared.nes
!roms/test/apu_reset/4017_timing.nes
!roms/test/apu_reset/4017_written.nes
!roms/test/apu_reset/irq_flag_cleared.nes
!roms/test/apu_reset/len_ctrs_enabled.nes
!roms/test/apu_reset/works_immediately.nes
!roms/test/oam_read/oam_read.nes
!roms/test/oam_stress/oam_stress.nes
!roms/test/ppu_vbl_nmi/rom_singles/03-vbl_clear_time.nes
!roms/test/vbl_nmi_timing/1.frame_basics.nes
!roms/test/vbl_nmi_timing/2.vbl_timing.nes
!roms/test/vbl_nmi_timing/3.even_odd_frames.nes
!roms/test/vbl_nmi_timing/4.vbl_clear_timing.nes
!roms/test/vbl_nmi_timing/5.nmi_suppression.nes
!roms/test/vbl_nmi_timing/6.nmi_disable.nes
!roms/test/vbl_nmi_timing/7.nmi_timing.nes
!roms/test/sprite_overflow_tests/1.Basics.nes
!roms/test/sprite_overflow_tests/2.Details.nes
!roms/test/sprite_overflow_tests/3.Timing.nes
!roms/test/sprite_overflow_tests/4.Obscure.nes
!roms/test/sprite_overflow_tests/5.Emulator.nes
!roms/test/cpu_dummy_reads/cpu_dummy_reads.nes
!roms/test/branch_timing_tests/1.Branch_Basics.nes
!roms/test/branch_timing_tests/2.Backward_Branch.nes
!roms/test/branch_timing_tests/3.Forward_Branch.nes
!roms/test/dmc_dma_during_read4/dma_2007_write.nes
!roms/test/dmc_dma_during_read4/dma_4016_read.nes
!roms/test/dmc_dma_during_read4/read_write_2007.nes
!roms/test/blargg_ppu_tests_2005.09.15b/palette_ram.nes
!roms/test/blargg_ppu_tests_2005.09.15b/power_up_palette.nes
!roms/test/blargg_ppu_tests_2005.09.15b/sprite_ram.nes
!roms/test/blargg_ppu_tests_2005.09.15b/vbl_clear_time.nes
!roms/test/blargg_ppu_tests_2005.09.15b/vram_access.nes
!roms/test/blargg_apu_2005.07.30/01.len_ctr.nes
!roms/test/blargg_apu_2005.07.30/02.len_table.nes
!roms/test/blargg_apu_2005.07.30/03.irq_flag.nes
!roms/test/blargg_apu_2005.07.30/04.clock_jitter.nes
!roms/test/blargg_apu_2005.07.30/05.len_timing_mode0.nes
!roms/test/blargg_apu_2005.07.30/06.len_timing_mode1.nes
!roms/test/blargg_apu_2005.07.30/07.irq_flag_timing.nes
!roms/test/blargg_apu_2005.07.30/08.irq_timing.nes
!roms/test/blargg_apu_2005.07.30/09.reset_timing.nes
!roms/test/blargg_apu_2005.07.30/10.len_halt_timing.nes
!roms/test/blargg_apu_2005.07.30/11.len_reload_timing.nes
!roms/test/pal_apu_tests/01.len_ctr.nes
!roms/test/pal_apu_tests/02.len_table.nes
!roms/test/pal_apu_tests/03.irq_flag.nes
!roms/test/pal_apu_tests/04.clock_jitter.nes
!roms/test/pal_apu_tests/05.len_timing_mode0.nes
!roms/test/pal_apu_tests/06.len_timing_mode1.nes
!roms/test/pal_apu_tests/07.irq_flag_timing.nes
!roms/test/pal_apu_tests/08.irq_timing.nes
!roms/test/pal_apu_tests/10.len_halt_timing.nes
!roms/test/pal_apu_tests/11.len_reload_timing.nes

packages/nesd/android/play-service-account.json
packages/nesd/android/app/src/main/play/release-notes/
