# misc
*.class
*.log
*.pyc
*.swp
.DS_Store

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
devtools_options.yaml

# Python (dmgbuild)
.venv/

# FVM Version Cache
.fvm/


bin/perf/results/*

roms/
!roms/test/nestest/nestest.nes
!roms/test/cpu_timing_test6/cpu_timing_test.nes
