[Desktop Entry]
Version=0.12.1
Type=Application

Name=NESd
Comment=NES emulator
Categories=Game;Emulator;

Icon=dev.jpj.NESd
Exec=nesd
Terminal=false
StartupWMClass=nesd
