[Desktop Entry]
Version=1.5
Type=Application

Name=NESd
Comment=NES emulator
Categories=Game;Emulator;

Icon=dev.jpj.NESd
Exec=nesd %U
Terminal=false
StartupWMClass=nesd
